<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="{{asset('bundles/lider/css/bootstrap.css')}}" />
	<link href="{{asset('bundles/lider/js/kendo/styles/kendo.common.min.css')}}" rel="stylesheet" />
	<link href="{{asset('bundles/lider/js/kendo/styles/kendo.bootstrap.min.css')}}" rel="stylesheet" />
	<link rel="stylesheet" href="{{asset('bundles/lider/css/homeAdministrator.css')}}" />
	<link rel="shortcut icon" href="{{asset('bundles/lider/images/faviconAyS.ico')}}" type="image/x-icon">		
	<link rel="icon" href="{{asset('bundles/lider/images/faviconAyS.ico')}}" type="image/x-icon">	
	
    <script src="{{ asset('bundles/lider/js/kendo/js/jquery.min.js') }}"></script>  	
	<script src="{{ asset('bundles/lider/js/kendo/js/kendo.all.min.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/underscore.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/backbone.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/date.format.js') }}"></script>
	<script src="{{ asset('bundles/lider/js/go.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('bundles/lider/js/loader.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lider/js/entity.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lider/js/homeAdministrator.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lider/js/routerManager.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lider/js/teamBuilder.js') }}"></script>		
	<script type="text/javascript" src="{{ asset('bundles/lider/js/groupBuilder.js') }}"></script>	
	<script type="text/javascript" src="{{ asset('bundles/lider/js/jquery.confirm.min.js') }}"></script>	
	<script type="text/javascript" src="{{ asset('bundles/lider/js/socket.io.js') }}"></script>	
</head>
<body>
	<div class="body">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<img src="{{asset('bundles/lider/images/logoAyS.png')}}"
						alt="Araujo & Segovia" width="220px" />
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" id="menu">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Administrador<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a id="linkTournaments" href="#" data-url="tournaments">Torneos</a></li>
								<li><a id="linkPlayers" href="#" data-url="players">Jugadores</a></li>
								<li><a id="linkGroups" href="#" data-url="groups">Grupos</a></li>
								<li><a id="linkTeams" href="#" data-url="teams">Equipos</a></li>
								<li><a id="linkOffices" href="#" data-url="offices">Oficinas</a></li>
								<li><a id="linkParametersConfig" href="#" data-url="parametersConfig">
									Par&aacute;metros</a></li>
								<li><a id="linkImages" href="#" data-url="images">Im&aacute;genes</a></li>
								<li><a id="linkNotificaciones" href="#" data-url="sendNotifications">Envio de notificaciones</a></li>
								<li><a id="linkGames" href="#" data-url="games">Juegos</a></li>
								<li><a id="linkRealTime" href="#" data-url="realTime">Tiempo Real</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Preguntas<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a id="linkCategories" href="#" data-url="categories">Categorias</a></li>
								<li><a id="linkQuestions" href="#" data-url="questions">Preguntas</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Reportes<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">								
								<li><a id="linkReportQuestion" href="#" data-url="reportquestions">Preguntas Reportadas</a></li>	
								<li><a id="linkReportPlayerAnalysis" href="#" data-url="reportPlayerAnalysis">Análisis por jugador</a></li>	
								<li><a id="linkReportTeamByGroup" href="#" data-url="reportTeamByGroup">Análisis por Grupo</a></li>	
								<li><a id="linkReportByCategory" href="#" data-url="reportByCategory">Categorias</a></li>
								<li><a href="linkPractice" data-url="reportByPractice">Practicas</a></li>
							</ul>
						</li>						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name ~ ' ' ~ user.lastname }}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
					            <li><a href="{{ path("admin_logout") }}">Cerrar Session</a></li>
					        </ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div id="breadcrumbs">
			<ol class="breadcrumb">
			  <li class="active">Home</li>		
			</ol>
		</div>
		
		<div id="entity-content"></div>

	</div>
</body>
</html>