<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<script src= "{{ asset('bundles/lider/js/vendor/jquery.min.js') }}"></script>
		<script src= "{{ asset('bundles/lider/js/vendor/underscore.js') }}"></script>
		<script src= "{{ asset('bundles/lider/js/vendor/backbone.js') }}"></script>
		<script src= "{{ asset('bundles/lider/js/vendor/bootstrap.min.js') }}"></script>
		<script src= "{{ asset('bundles/lider/js/notify.min.js') }}"></script>
		
		<link rel="stylesheet" href="{{asset('bundles/lider/css/vendor/bootstrap.css')}}" />
		<link rel="stylesheet" href="{{asset('bundles/lider/css/player/home.css')}}" />
	</head>
	<body>
		<div class="body">
			<div class="header">
				<img src="{{asset('bundles/lider/images/mobile/logo_ays_menu_active.png')}}" class="logo-ays" width="55px" />
				<button type="button" class="btn btn-default btn-more-apps">
					<!-- <img src="{{asset('bundles/lider/images/glyphicons/glyphicons_158_show_lines.png')}}" class="icon-more-apps" /> -->
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
			</div>
			<nav class="navbar">
				<ul class="nav">
					<li>
						<button type="button" class="btn btn-default btn-victory">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-default btn-victory">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-default btn-victory">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</li>
				</ul>
			</nav>
			<!-- <nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<button type="button" class="btn btn-default btn-victory">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<label>5</label>
							</li>
							<li>
								<button type="button" class="btn btn-default btn-victory">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<label>1</label>
							</li>
							<li>
							</li>
						</ul>
					</div>
				</div>
			</nav> -->
		</div>
	</body>
</html>