<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src= "{{ asset('bundles/lider/js/jquery.min.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/backbone.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/underscore.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/bootstrap.min.js') }}"></script>		    
    <script src= "{{ asset('bundles/lider/js/kendo/js/kendo.all.min.js') }}"></script>   
    <script src= "{{ asset('bundles/lider/js/kendo/js/cultures/kendo.culture.es-CO.min.js') }}"></script>   
		<link rel="stylesheet" href="{{asset('bundles/lider/css/bootstrap.css')}}" />		
		<link rel="stylesheet" href="{{asset('bundles/lider/css/homeAdministrator.css')}}" />

    <link href="{{asset('bundles/lider/js/kendo/styles/kendo.common.min.css')}}"rel="stylesheet" />
    <link href="{{asset('bundles/lider/js/kendo/styles/kendo.bootstrap.min.css')}}"rel="stylesheet" />
	</head>
	<body>
    <div class="body">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="{{asset('bundles/lider/images/logoAyS.png')}}" alt="Araujo & Segovia" width="220px"/>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">                
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrador<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Torneos</a></li>
                  <li><a href="#">Jugadores</a></li>
                  <li><a href="#">Grupos</a></li>            
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preguntas<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Categorias</a></li>
                  <li><a href="#">Preguntas</a></li>            
                </ul>
              </li>        
            </ul>                     
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class ="tournaments">

          <p><b>Torneos</b></p>
          <div id="gridTournaments"></div>
            <script>
                $(document).ready(function () {
                    // var crudServiceBaseUrl = "http://localhost/lider/web/app_dev.php",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url:  "admin/tournament",
                                    dataType: "json",
                                    type: "GET"
                                },
                                update: {
                                    url: "admin/tournament",
                                    dataType: "json",
                                    type: "PUT"
                                },
                                destroy: {
                                    url: "admin/tournament",
                                    dataType: "json",
                                    type: "DELETE"
                                },
                                create: {
                                    url: "admin/tournament",
                                    dataType: "POST"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        tournamentId: { editable: false, nullable: true },
                                        name: { validation: { required: true } },
                                        startDate: { type: "date", },
                                        endDate: { type: "date" },
                                        active: { type: "boolena" }
                                    }
                                }
                            }
                        });



                    $("#gridTournaments").kendoGrid({
                        dataSource: dataSource,
                        pageable: true,
                        height: 550,
                        toolbar: ["create"],
                        columns: [
                            { field:"name", title: "Nombre" },
                            { field: "startDate", title:"Fecha de inicio" },
                            { field: "endDate", title:"Fecha de fin"},
                            { field: "active", title: "Activo"},
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }],
                        editable: "popup"
                    });


                });
            </script>          
      </div>

    </div>
	</body>
</html>