<!DOCTYPE html>
<html>
	<head>		
		<meta charset="UTF-8">
		<script src= "{{ asset('bundles/lider/js/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/backbone.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/underscore.js') }}"></script>	
		<script src= "{{ asset('bundles/lider/js/bootstrap.min.js') }}"></script>	
		<link rel="stylesheet" href="{{asset('bundles/lider/css/bootstrap-3.2.0-dist/bootstrap.css')}}">		
	</head>
	<body>
		
	</body>
</html>